/* write your carousel css in this file */
.background{
    width: 35vw;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: cover;
}

.title, .subtitle {
    color: black;
    margin: auto;
}

.title{
    font-size: 3vw;
    background-color: rgba(252, 252, 252, 0.664);
    width: max-content;
    padding: .7vw;
    border-radius: 5%;
}

.subtitle {
    font-size: 1.3vw;
    width: max-content;
    padding: .8vw;
    margin-top: 12vw;
    border-radius: 5%;
    font-weight: 500;
    background-color: rgba(252, 252, 252, 0.664);
}

.left, .right {
    color: white;
    padding: .8vw;
    height: 72vh;
    display: flex;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.541);
}